@model ErrorViewModel
@{
    ViewData["Title"] = Model?.Titulo ?? "Error";

    if (Model == null)
    {
        <div>
            <h2>Opa, pera ai, meu consagrado, deu ruim!</h2>
        </div>
    }
    else
    {
        <h1>@Model.ErrorCode - @Model.Titulo</h1>
        <h2 class="text-danger">@Html.Raw(Model.Mensagem)</h2>
    }
}